[submodule "third_party/toit-font-tools"]
	path = third_party/toit-font-tools
	url = https://github.com/toitlang/toit-font-tools.git
[submodule "xorg-font-bh-100dpi"]
	path = xorg-font-bh-100dpi
	url = https://gitlab.freedesktop.org/xorg/font/bh-100dpi.git
